body {
    .ui-accordion {
        .ui-accordion-header:not(.ui-state-disabled).ui-state-active {
            a {
                background: map-get($theme-colors, 'secondary') !important;
                border-color: map-get($theme-colors, 'secondary') !important
            }
        }

        .ui-accordion-header {
            &:hover {
                a {
                    background: map-get($theme-colors, 'secondary') !important;
                    color: $white !important;
                    border-color: map-get($theme-colors, 'secondary') !important
                }
            }

            a {
                background: map-get($theme-colors, 'primary');
                color: $white
            }
        }
    }
}