body {
    .ui-accordion {
        .ui-accordion-header:not(.ui-state-disabled).ui-state-active {
            a {background: $secondary-theme-color !important;border-color:$secondary-theme-color !important }
        }        
        .ui-accordion-header {
            &:hover {
                a {background: $secondary-theme-color !important ;color: $white !important ;border-color:$secondary-theme-color !important}
            }
            a {background: $primery-theme-color;color: $white}
        }        
    }
} 
 
