@import "node_modules/primeng/resources/components/steps/steps";
@import "node_modules/primeng/resources/components/common/common";

.ui-steps {
  margin-bottom: 80px;
  z-index: 2;
  position: relative;
}

.steps-3 .ui-steps-item {
  @extend .col-4;
}

.steps-4 .ui-steps-item {
  @extend .col-3;
}

.steps-5 .ui-steps-item {
  width: 20%;
}

.steps-6 .ui-steps-item {
  @extend .col-2;
}

.ui-steps-item {
  [dir='rtl'] & {
    float: right;
  }
}

.steps-custom {
  .ui-steps-item {
    .ui-menuitem-link {
      // height: 2px;
      overflow: visible;
      padding: 0 1em;
    }

    .ui-steps-number {
      background-color: lighten(map-get($theme-colors, 'primary'), 10%);
      display: inline-block;
      width: 70px;
      height: 70px;
      top: 0;
      border-radius: 0;
      margin-top: -35px;
      margin-bottom: 5px;
      position: relative;
      z-index: 1;
      text-indent: 99px;
      overflow: hidden;
      border: 0;
    }
  }

  li.ui-steps-item.ui-state-highlight~li.ui-steps-item.ui-state-default .ui-steps-number {
    background-color: #FFF;
    border: 2px $light solid;
  }

  .ui-steps-item {
    .ui-steps-number:before {
      content: '';
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' %3E%3Cpath fill='white' d='M174 439L7 273a26 26 0 0 1 0-36l37-36c10-10 26-10 36 0l112 112L432 73c10-10 26-10 36 0l37 36c9 10 9 26 0 36L210 439a26 26 0 0 1-36 0z'/%3E%3C/svg%3E");
      width: 16px;
      height: 16px;
      position: absolute;
      top: 21px;
      right: 21px;
    }

    &.ui-state-highlight .ui-steps-number:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 37.8'%3E%3Cpath fill='%23FFF' d='M37.8 19c0 10.4-8.4 18.8-18.8 18.8S.2 29.3.2 19 8.6.1 19 .1 37.8 8.6 37.8 19z'/%3E%3C/svg%3E");
    }

    .ui-steps-title {
      color: #555555;
    }

    background-color: transparent;

    &.ui-state-default {
      border: 0;
    }

    position: relative;

    &:after,
    &:before {
      content: '';
      width: 50%;
      height: 2px;
      display: block;
      position: absolute;
      top: 25px;
      z-index: 0;
    }

    &:after {
      right: 0;

      [dir='rtl'] & {
        right: unset;
        left: 0;
      }
    }

    &:before {
      left: 0;

      [dir='rtl'] & {
        left: unset;
        right: 0;
      }
    }

    &:after,
    &:before {
      background-color: map-get($theme-colors, 'primary');
    }

    &.ui-state-highlight {
      &:before {
        background-color: map-get($theme-colors, 'primary');
      }

      &:after {
        background-color: $light;
      }

      ~.ui-steps-item.ui-state-default {

        &:after,
        &:before {
          background: $light;
        }
      }
    }

    &:first-child:before,
    &:last-child:after {
      background-color: transparent !important;
    }
  }

  .ui-steps .ui-steps-item:not(.ui-state-highlight):not(.ui-state-disabled):hover {
    background: transparent;
  }

  .ui-steps-item {
    .ui-steps-title {
      color: #999
    }

    &.ui-state-highlight .ui-steps-title {
      color: map-get($theme-colors, 'primary')
    }
  }
}

hr.wizarddevider {
  margin: 0 -24px 15px;
  height: 10px;
  border: 0;
  background: #fff;

  &::before {
    width: 100%;
    height: 150px;
    background: #eceff4;
    content: '';
    display: block;
    position: relative;
    z-index: 0;
    top: -150px;
  }
}

.wizard-footer {
  margin-right: -20px;
  margin-left: -20px;
  margin-bottom: -20px;
  background: #eceff4;
}

body .ui-steps .ui-steps-item .ui-menuitem-link .ui-steps-number {
  border-radius: 50%;
  display: inline-block;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #c8c8c8;
  position: relative;
  top: 0;
  margin-bottom: 5px;
  width: 60px;
  height: 60px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  overflow: visible;
}

body .ui-steps .ui-steps-item .ui-steps-title {
  font-family: inherit;
}

.ui-steps .ui-steps-item .ui-menuitem-link,
.ui-steps .ui-steps-item.ui-state-disabled .ui-menuitem-link {
  overflow: visible;
}

body .ui-steps .ui-steps-item.ui-state-highlight .ui-steps-number {
  background: map-get($theme-colors, 'primary');
  border: 1px solid map-get($theme-colors, 'primary');

}

body .ui-steps .ui-steps-item .ui-menuitem-link {
  overflow: visible;
}

body .ui-steps .ui-steps-item.ui-state-complete .ui-menuitem-link .ui-steps-number {

  background-color: map-get($theme-colors, 'primary');
  border: 1px solid map-get($theme-colors, 'primary');
}

body .ui-steps .ui-steps-item .ui-menuitem-link .ui-steps-number {
  color: #fff
}

body .ui-steps:before {
  bottom: -10px;
  top: auto;
}